---
---

<section class='flex flex-col gap-8 justify-between'>
  <p class='text-9xl font-bold dm-serif'>404</p>
  <h2 class='text-4xl outfit'>Halaman Tidak Ditemukan</h2>
  <p class='text-xl sm:text-3xl sanchez'>
    Maaf, halaman yang Anda cari tidak tersedia atau sudah dipindahkan.
  </p>
  <a
    href='/'
    title='Kembali ke beranda'
    class='px-4 py-2 border-2 border-black hover:bg-red transition-colors duration-150 ease-in-out w-48 text-center poppins'
    >&larr; Kembali ke Beranda</a
  >
</section>
